<nav id="headerSaval" class="navbar navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">
    <img class="img-fluid" src="assets/images/logoSavalHeader.png"  alt="">
       <span class="h3">Gestión de Activo Fijo</span> 
  </a>
</nav>