
<app-header></app-header>

<div id="homeSaval" class="container mt-5 pt-5">
<button type="button" name="" id="" class="btn btn-outline-primary btn-block">
<i class="fas fa-sign-out-alt    "></i>
Salir</button>


<div class="card mt-5" [routerLink]="['/userData']">
  
  <div class="card-body text-center">
  <i class="sl-icon icon-ico-user"></i>
    <h4>Bienvenido [nombre de usuario]</h4>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
  </div>
</div>


<div class="card mt-5 mb-2" [routerLink]="['/fixedAssets']">
  
  <div class="card-body text-center">
  <i class="sl-icon icon-ico-af"></i>
    <h4 class="card-title">Activo fijo</h4>
    <p class="card-text">Lorem ipsum, dolor sit amet </p>
  </div>
</div>


<small class="mt-5 text-center">¿Tienes problemas con la aplicación? <a href="">Contáctenos</a></small>

</div>


<app-footer></app-footer>
