<app-header></app-header>


<div id="savalFixedAssets" class="container mt-5 pt-5 pb-5">

	<div
		*ngIf="hasRoute('fixedAssets')">
		<!--buscador-->
	    <app-fixedassets-search></app-fixedassets-search>
		<!--botonera-->
		<div class="row">
			<div class="col">
				<div class="card" [routerLink]="['/fixedAssetCreate']">
					<div class="card-body text-center">
						<h3 class="card-title text-primary">
							<i class="sl-icon sl-icon icon-ico-af"></i>
						</h3>
						<p class="card-text">Crear activo fijo</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card" [routerLink]="['/fixedAssetUpdate']">
					<div class="card-body text-center">
						<h3 class="card-title text-primary">
							<i class="icon-ico-modificar"></i>
						</h3>
						<p class="card-text">modificar activo fijo</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col">
				<div class="card" [routerLink]="['/fixedAssetMove']">
					<div class="card-body text-center">
						<h3 class="card-title text-primary">
							<i class="icon-ico-trasladar"></i>
						</h3>
						<p class="card-text">trasladar activo fijo</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card" [routerLink]="['/fixedAssetDelete']">
					<div class="card-body text-center">
						<h3 class="card-title text-primary">
							<i class="icon-ico-eliminar"></i>
						</h3>
						<p class="card-text">dar de baja activo fijo</p>
					</div>
				</div>
			</div>
		</div>
		<!--activos fijos en proceso-->
		<div class="innerContent card mt-5">
			<div class="row card-body">
				<div class="col-12 mt-3">
					<h3>Activos fijos en proceso</h3>
					<app-fixedassets-onprocess-list></app-fixedassets-onprocess-list>
				</div>
			</div>
		</div>
	</div>

	<!--activos fijo creacion-->
	<div *ngIf="hasRoute('fixedAssetCreate')">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<app-fixedasset></app-fixedasset>
				</div>
				<div class="col-md-5"></div>
			</div>
		</div>
	</div>

	<!--activos fijo detalle-->
	<div *ngIf="!hasRoute('fixedAssetCreate') && !hasRoute('fixedAssets')">


		<div class="row">
			<div class="col-12">
				<app-fixedassets-tab></app-fixedassets-tab>

				<div class="row pl-3 pr-3">
					<div class="innerContent card fixedAssets col-12">
						<div class="card-body">
							<div class="row mb-5">
								<div class="col-12">

									<div id="accordion">
										<div id="headingOne">
											<button class="btn btn-block btn-link show" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												<h5 class="text-left">Datos activo fijo</h5>
											</button>
										</div>

										<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion" style="">
											<div class="col-12">
												<div class="row mt-3">

													<div class="col-12 mb-3">
														<p class="text-mute pr-3">Fecha de creación: DDMMAAA HH:MM:SS</p>
														<p class="text-mute">Creado por:</p>
														<p class="text-mute">Código:</p>
														<p class="text-mute">Código RFID:</p>
													</div>


												</div>
												<div class="row mt-3 mb-3">
													<div class="col-md-4 col-12">
														<div class="form-group">
															<label for="">Clase activo fijo</label>
															<input type="text" class="form-control " readonly="" value="Clase">
														</div>

													</div>
													<div class="col-md-4 col-12">
														<div class="form-group">
															<label for="">Sociedad</label>
															<input type="text" class="form-control " readonly="" value="Sociedad">
														</div>
													</div>


												</div>


											</div>
										</div>

										<hr>

										<div id="headingTwo">
											<button class="btn btn-block btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												<h5 class="text-left">General</h5>
											</button>
										</div>

										<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
											<div class="col-12">

												<div class="row mt-3 mb-3">
													<div class="col-md-4 col-12">
														<div class="form-group">
															<label for="">Especie</label>
															<input type="text" class="form-control " readonly="" value="Especie">
														</div>
														<div class="form-group">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input" id="" checked="" readonly="">
																<label class="custom-control-label" for="">Gestión histórica</label>
															</div>
														</div>

													</div>
													<div class="col-md-4 col-12">
														<div class="form-group">
															<label for="">Denominación</label>
															<input type="text" class="form-control " readonly="" value="Denominación">
														</div>
														<div class="form-group">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input" id="" checked="" readonly="">
																<label class="custom-control-label" for="">Incluir activo fijo en lista inventario</label>
															</div>

														</div>

													</div>

													<div class="col-md-4 col-12">

														<div class="form-group">
															<label for="">Cuenta</label>
															<input type="text" class="form-control " readonly="" value="Denominación">
														</div>


													</div>


												</div>


											</div>
										</div>

										<hr>

										<div id="headingTree">
											<button class="btn btn-block btn-link collapsed" data-toggle="collapse" data-target="#collapseTree" aria-expanded="false" aria-controls="collapseTree">
												<h5 class="text-left">Centro de costo</h5>
											</button>
										</div>

										<div id="collapseTree" class="collapse" aria-labelledby="headingTree" data-parent="#accordion">
											<div class="col-12">

												<div class="row mt-3 mb-3">
													<div class="col">

														<div class="form-group">
															<label for="">Centro de costo</label>
															<input type="text" class="form-control " readonly="" value="Centro de costo">
														</div>

													</div>


												</div>


											</div>
										</div>

										<hr>

										<div id="headingFour">
											<button class="btn btn-block btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
												<h5 class="text-left">Asignaciones</h5>
											</button>
										</div>

										<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
											<div class="col-12">

												<div class="row mt-3 mb-3">
													<div class="col-md-4 col-12">

														<div class="form-group">
															<label for="">Centro</label>
															<input type="text" class="form-control " readonly="" value="content">
														</div>

														<div class="form-group">
															<label for="">Área</label>
															<input type="text" class="form-control " readonly="" value="content">
														</div>


													</div>
													<div class="col-md-4 col-12">
														<div class="form-group">
															<label for="">Edificio</label>
															<input type="text" class="form-control " readonly="" value="content">
														</div>
														<div class="form-group">
															<label for="">Sala</label>
															<input type="text" class="form-control " readonly="" value="content">
														</div>
													</div>
													<div class="col-md-4 col-12">
														<div class="form-group">
															<label for="">Piso</label>
															<input type="text" class="form-control " readonly="" value="content">
														</div>


													</div>


												</div>


											</div>
										</div>

										<hr>

										<div id="headingFive">
											<button class="btn btn-block btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
												<h5 class="text-left">Origen</h5>
											</button>
										</div>

										<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
											<div class="col-12">
												<div class="row mt-3 mb-3">
													<div class="col-md-4 col-12">

														<div class="form-group">
															<label for="">Acreedor</label>
															<input type="text" class="form-control " readonly="" value="content">
														</div>


													</div>
													<div class="col-md-4 col-12">
														<div class="form-group">
															<label for="">Fabricante</label>
															<input type="text" class="form-control " readonly="" value="content">
														</div>

													</div>
													<div class="col-md-4 col-12">
														<div class="form-group">
															<label for="">Condición de activo fijo</label>
															<input type="text" class="form-control " readonly="" value="content">
														</div>


													</div>


												</div>
											</div>
										</div>

										<hr>

										<div id="headingSix">
											<button class="btn btn-block btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
												<h5 class="text-left">Años de vida útil</h5>
											</button>
										</div>

										<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
											<div class="col-12">
												<div class="row mt-3 mb-3">
													<div class="col-12">

														<div class="form-group">
															<label for="">Años de vida útil</label>
															<input type="text" class="form-control " readonly="" value="content">
														</div>


													</div>


												</div>
											</div>
										</div>

									</div>

									<div class="col-12 mt-3">
										<button type="button" class="btn btn-lg btn-block btn-danger" data-toggle="modal" data-target="#moveModal">
											Dar de baja
										</button>
									</div>

								</div>
							</div>
						</div>
					</div>


				</div>


			</div>
		</div>

	</div>
	<!--activo fijo eliminacion-->


</div>
<app-footer></app-footer>
