.steps {
  position: relative;
  border-bottom: 4px solid #ced4da;
}

.steps span {
  display: none;
  padding: 7px 5px;
  background-color: white;
  display: inline-block;
  position: absolute;
  top: -15px;
  border-radius: 100%;
}

.steps span:nth-child(1) {
  left: 0;
}

.steps span:nth-child(2) {
  left: calc(20% - 13px);
}

.steps span:nth-child(3) {
  left: calc(40% - 13px);
}

.steps span:nth-child(4) {
  left: calc(60% - 13px);
}

.steps span:nth-child(5) {
  left: calc(80% - 13px);
}

.steps span:nth-child(6) {
  left: calc(100% - 13px);
}
