 <div class="card">
   <div class="card-body">
	<form #fixedAssetForm="ngForm"  (ngSubmit)="onSubmit(fixedAssetForm)">	 
		<div class="form-group">
		<!--add / edit-->
		<input type="text" name="$key" #key="ngModel" [(ngModel)]="fixedassetService.selectedFixedasset.$key">

		<input 
			type="string"
			class="form-control"
			name="fechaCreacion"
			#fechaCreacion="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.fechaCreacion"
			placeholder="add fechaCreacion"
			>
		</div>


		<div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="creadoPor"
			#creadoPor="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.creadoPor"
			placeholder="add creadoPor"
			>
		</div>


		<div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="codigo"
			#codigo="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.codigo"
			placeholder="add codigo">
		</div>

		<div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="codigoRfid"
			#codigoRfid="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.codigoRfid"
			placeholder="add codigoRfid">
		</div>


		<div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="claseActivoFijo"
			#claseActivoFijo="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.claseActivoFijo"
			placeholder="add claseActivoFijo">
		</div>

 <div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="sociedad"
			#sociedad="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.sociedad"
			placeholder="add sociedad">
		</div>


  <div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="especie"
			#especie="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.especie"
			placeholder="add especie">
		</div>

   <div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="gestionHistorica"
			#gestionHistorica="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.gestionHistorica"
			placeholder="add gestionHistorica">
		</div>

<div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="denominacion"
			#denominacion="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.denominacion"
			placeholder="add denominacion">
		</div>

	
   <div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="listaInventario"
			#listaInventario="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.listaInventario"
			placeholder="add listaInventario">
		</div>

     <div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="cuenta"
			#cuenta="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.cuenta"
			placeholder="add cuenta">
		</div>



        <div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="centroCosto"
			#centroCosto="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.centroCosto"
			placeholder="add centroCosto">
		</div>


    <div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="centro"
			#centro="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.centro"
			placeholder="add centro">
		</div>


        <div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="area"
			#area="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.area"
			placeholder="add area">
		</div>


        <div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="edificio"
			#edificio="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.edificio"
			placeholder="add edificio">
		</div>


        <div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="sala"
			#sala="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.sala"
			placeholder="add sala">
		</div>

   <div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="piso"
			#piso="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.piso"
			placeholder="add piso">
		</div>


   <div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="acreedor"
			#acreedor="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.acreedor"
			placeholder="add acreedor">
		</div>

  <div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="fabricante"
			#fabricante="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.fabricante"
			placeholder="add fabricante">
		</div>




        <div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="condicion"
			#condicion="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.condicion"
			placeholder="add condicion">
		</div>

   <div class="form-group">
		<input 
			type="text"
			class="form-control"
			name="agnosVidaUtil"
			#agnosVidaUtil="ngModel"
			[(ngModel)] = "fixedassetService.selectedFixedasset.agnosVidaUtil"
			placeholder="add agnosVidaUtil">
		</div>


		<div class="form-group">
			<button class="btn btn-primary btn-block" type="submit">enviar</button>
		</div>
		
		<div class="form-group">
			<button class="btn btn-secondary btn-block" type="reset" (click)="resetFrom(fixedAssetForm)">reset</button>
		</div>

		</form>
   </div>
 </div>