






	<table class="table table-responsive-sm table-hover">

			<tbody>

				<tr *ngFor="let fixedasset of fixedassetsList">
					<td>{{fixedasset.$key}}</td>
					<td>{{fixedasset.fechaCreacion}}</td>
					<td>{{fixedasset.creadoPor}}</td>
					<td>
						<button class="btn btn-warning text-white" (click)="onEdit(fixedasset)">
							<i class="fas fa-edit"></i>
						</button> 

                        <button class="btn btn-danger text-white" (click)="onDelete(fixedasset.$key)">
							<i class="fas fa-trash-alt"></i>
						</button>
					</td>

				</tr>

			</tbody>

		</table>