<div class="container">
<div class="text-center">
	<img src="/assets/images/logoSaval.png" alt="">
	<h3>Gestión de Activo Fijo</h3>
</div>

<div class="mt-5 mb-5">
	<div class="form-group">
		<label for="">Usuario</label>
		<input type="text" class="form-control" name="" id="">
	</div>
	<div class="form-group">
		<label for="">Contraseña</label>
		<input type="text" class="form-control" name="" id="">
	</div>
</div>

<button type="button" name="" id="" class="btn btn-lg btn-block btn-primary" [routerLink]="['/home']">Ingresar</button>


<div class="row mt-3">
	<div class="col">
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
				Recordar contraseña
			</label>
		</div>
	</div>
	<div class="col">
		<a [routerLink]="['/login']">¿Olvidó su contraseña?</a>
	</div>

</div>
</div>