<a name="" id="" class="btn btn-link" href="javascript:void(0)" role="button">
	<i class="fas fa-angle-left"></i>
	volver
</a>
<div class="row">
	<div class="col-12 tab m-3">
		<div class="row">
			<div class="col">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					
					<a [routerLink]="['/fixedAssetDetail']" class="btn btn-lg" 
					[ngClass]="{'btn-primary active':hasRoute('fixedAssetDetail'), 'btn-secondary':!hasRoute('fixedAssetDetail')}">
						Detalles
					</a>

					<a [routerLink]="['/fixedAssetUpdate']"  class="btn btn-lg" 
					[ngClass]="{'btn-primary active':hasRoute('fixedAssetUpdate'), 'btn-secondary':!hasRoute('fixedAssetUpdate')}">
						Modificar
					</a>

					<a [routerLink]="['/fixedAssetMove']" class="btn btn-lg" 
					[ngClass]="{'btn-primary active':hasRoute('fixedAssetMove'), 'btn-secondary':!hasRoute('fixedAssetMove')}">
						Trasladar
					</a>

					<a [routerLink]="['/fixedAssetDelete']" class="btn btn-lg btn-primary" 
					[ngClass]="{'btn-primary active':hasRoute('fixedAssetDelete'), 'btn-secondary':!hasRoute('fixedAssetDelete')}">
						Dar de baja
					</a>
					
				</div>

			</div>
		</div>
	</div>
</div>
