<table class="table table-responsive-sm table-hover">
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col">Id</th>
			<th scope="col">Nº solicitud</th>
			<th scope="col">Solicitante</th>
			<th scope="col">Fecha de solicitud</th>
			<th scope="col">Nombre AF</th>
			<th scope="col">Especie</th>
			<th scope="col">Estado</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>

				<i class="fas fa-info-circle text-warning"></i>

			</td>
			<td>Column content</td>
			<td>Column content</td>
			<td>Column content</td>
			<td>Column content</td>
			<td>Column content</td>
			<td>Column content</td>
			<td>Column content</td>
			<td>

				<a name="" id="" class="btn btn-primary btn-sm" [routerLink]="['/fixedAssetPending']" role="button">Revisar</a>
			</td>
		</tr>
		<tr>
			<td>
				<i class="fas fa-exclamation-triangle text-danger" data-toggle="tooltip" data-placement="top" title="Rechazada"></i>


			</td>
			<td>Column content</td>
			<td>Column content</td>
			<td>Column content</td>
			<td>Column content</td>
			<td>Column content</td>
			<td>Column content</td>
			<td>Column content</td>
			<td>

				<a name="" id="" class="btn btn-primary btn-sm" role="button" [routerLink]="['/fixedAssetReject']">Revisar</a>
			</td>
		</tr>

	</tbody>
</table>
