<div class="row">
	<div class="col mb-3 mt-3">
		<div class="dropdown">
			<button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-search"></i>
				Buscar
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<button *ngFor="let fixedasset of fixedassetsList" type="button" class="dropdown-item" (click)="onEdit(fixedasset)">{{fixedasset.$key}}</button>
			</div>
		</div>
	</div>
</div>
